.Navigation {
  max-height: 20vh;
  display: flex;
  justify-content: space-around;
  padding: 20px 2px;
  background-color: #09d3ac;
}

.svg-image {
  max-height: 7.5vh;
}

.svg-image:hover {
  filter: invert(0.5) sepia(2) hue-rotate(360deg) saturate(5) brightness(1);
}

.active {
  filter: invert(0.5) sepia(2) hue-rotate(360deg) saturate(5) brightness(1);
}

.animate {
  animation: iconanimate 10s infinite;
}
.animate1 {
  animation: iconanimate1 5s infinite;
}

.animate2 {
  animation: iconanimate2 15s infinite;
}

.animate3 {
  animation: iconanimate3 8s infinite;
}

@keyframes iconanimate {
  50% {
    transform: rotate(180deg);
  }
}

@keyframes iconanimate1 {
  50% {
    transform: rotateX(180deg);
  }
}

@keyframes iconanimate2 {
  50% {
    transform: rotateY(180deg);
  }
}

@keyframes iconanimate3 {
  50% {
    transform: skewY(25deg);
  }
}
