.App-header {
  background-color: #282c34;
  /* background-color: #ccc; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: #222; */
  color: white;
}

#form_dropdown {
  width: 40%;
  margin: 0 auto;
}

.dark {
  background-color: #282c34;
  color: whitesmoke;
}

.light {
  background-color: #ccc;
  color: #282c34;
}
