.card {
  display: inline-block;
}

.small-card {
  width: 120px;

  margin: 0.5rem;
  border-radius: 0.2rem;
}

.card-header {
  font-size: 1rem;
}

img {
  width: 100%;
}

#messageDisplay h6 {
  padding-top: 15px;
}

.center-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
